<div class="sidebar">
  <div class="logo-content">
    <div class="logo">
      <i class='bx bx-briefcase'></i>
      <div class="logo_name">
        Smart Manager
      </div>
    </div>
    <i class='bx bx-menu' id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <a href="/homeadmin">
        <i class='bx bx-grid-alt' ></i>
        <span class="links-name">
          Homepage
        </span>
      </a>
      <span class="tooltip">
        Homepage
      </span>
    </li>
    <li>
      <a href="/homeadmin/departments">
        <i class='bx bx-sitemap'></i>
        <span class="links-name">
          Dipartimenti
        </span>
      </a>
        <span class="tooltip">
          Dipartimenti
        </span>
      </li>
      <li>
      <a href="/homeadmin/employees">
        <i class='bx bx-user' ></i>
        <span class="links-name">
          Dipendenti
        </span>
      </a>
      <span class="tooltip">
        Dipendenti
      </span>
    </li>
    <li>
      <a href="/homeadmin/projects">
        <i class='bx bx-bar-chart-alt-2'></i>
        <span class="links-name">
          Progetti
        </span>
      </a>
      <span class="tooltip">
        Progetti
      </span>
    </li>
    <li>
      <a href="/logout">
        <i class='bx bx-log-out' ></i>
        <span class="links-name">
          Logout
        </span>
      </a>
      <span class="tooltip">Logout</span>
    </li>
  </ul>
</div>

<script>
    const btn = document.querySelector("#btn");
    const sidebar = document.querySelector(".sidebar");
    
    btn.onclick = function() {
        sidebar.classList.toggle("active");
    }

</script>