<div class="footer-container">
    <div class="footer-inner-container">
      <a href="/" class="footer-link">
        Privacy Policy
      </a>
      <a href="/" class="footer-link">
        Termini di Utilizzo
      </a>
      <a href="/" class="footer-link">
        Cookie Policy
      </a>
      <br>
      <a href="/aboutus" class="footer-link">
        <p class="footer-para">
          &copy;Marian Baba. All rights reserved
        </p>
      </a>
    </div>
  </div>