<%- include('../partials/headerFront.ejs') %>
<%- include("../partials/navbar") %>

<div class="wrapper">
  <section>
    <header class="major">
      <h2 class="heading">
        Lo Sviluppatore
      </h2>
    </header>
    <div class="row">
      <div class="col-sm-6" style="text-align: center;">
        <img src="https://pbs.twimg.com/profile_images/1363117458794680331/eLoCowEQ.jpg" alt="" class="imageAboutUs">
      </div>
      <div class="col-sm-6 mt-3 text-center">
        <p class="firstPara">
          <strong>Nome:</strong> Marian | <strong>Cognome:</strong> Baba <br>
          <strong>Sede:</strong> Bergamo, Italia <br>
          <strong>Occupazione:</strong> Studente <br>
          <strong>Università: </strong> Università degli Studi di Milano <br>
          <strong>Corso di Laurea:</strong> Sicurezza dei Sistemi e delle Reti Informatiche <br>
          <strong>Indirizzo Email:</strong> marianbaba16@gmail.com <br>
        </p>
      </div>
    </div>
    <header class="major mt-5">
      <h2 class="heading">
        Il Software
      </h2>
    </header>
    <p class="secondParaAbout">
      Smart Manager è stato sviluppato per rendere la gestione del personale aziendale più sicura e semplice.
    </p>
  </section>
</div>
<div style="height:5px"></div>
</body>
</html>