<%- include('../partials/headerFront.ejs') %>
<%- include('../partials/navbar.ejs') %>

    <div class="wrapper">
        <div class="row">
          <div>
            <div class="image"></div>
              <div class="col-sm-12 mt-3 text-center">
                <p class="first-para">
                  <strong class="title">Smart Manager<br /></strong>
                  <strong>una piattaforma aziendale semplice ed intuitiva</strong>
                  <br />
                  <br /> 
                    Anche tu, come migliaia di imprenditori, utilizzi metodi inadatti e poco organizzati per la gestione del tuo personale? <br>
                    Vorresti liberarti della burocrazia che appesantisce attività aziendali quotidiane, rallentando la produttività? <br>
                    Smart Manager è la piattaforma web che mette in contatto i manager e il personale, rendendo la comunicazione e la gestione facile ed istantanea. 
                </p>
                <hr class="first-hr" />
              </div>
            </div>
            </div>
            <div class="row" >
              <div class="col-sm-12 col-md-6">
                <div class="image-container">
                  <img src="https://image.freepik.com/premium-vector/business-people-planning-illustration-cartoon-employee-character-team-working-together-business-plan-scheduling-week-month-task-office-planner-calendar-concept-white_213110-445.jpg"
                  alt=""
                  class="photos" 
                  />
                </div>
              </div>
              <div class="col-sm-12 col-md-6 text-left">
                <div>
                  <p class="para">
                    L'<strong>organizzazione</strong> e il rispetto delle scadenze sono uno dei fattori che rendono un business competitivo e affidabile,
                    per questo motivo Smart Manager è completa di funzionalità che ti permettono di <strong>gestire i progetti</strong>, assegnandoli al dipartimento opportuno 
                    nel momento opportuno.
                  </p> 
                </div>
              </div>
            </div>
            <hr class="hr" />
            <div class="row" > <!-- classe bootstrap per mantenere il margine -->
                <div class="col-sm-12 col-md-6 text-right">
                <div>
                <p class="para">
                    In contesto lavorativo è importante costruire un'ambiente <strong>professionale</strong>, ma <strong>familiare ed inclusivo</strong>, dando 
                    la possibilità a ciascun membro del gruppo di sentirsi a proprio agio. <br>
                    Con questa idea, Smart Manager offre la possiblità a ciascun utente di scrivere articoli su un blog aziendale dedicato, 
                    in modo da condividere con tutti i colleghi gli <strong>obiettivi raggiunti</strong>.
                </p>
              </div>
            </div>
              <div class="col-sm-12 col-md-6">
                <div class="image-container">
                  <img src="https://image.freepik.com/free-vector/business-team-planning-working-process-flat-vector-illustration-cartoon-colleagues-talking-sharing-thoughts-smiling-company-office-teamwork-workflow-concept_74855-9813.jpg" 
                    alt=""
                    class="photos" 
                    />
                </div>
              </div>
            </div>
            <hr class="hr" />
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="image-container">
                  <img src="https://number8.com/wp-content/uploads/2018/09/7-Indudtries-for-Remote-Work.png"
                  alt=""
                  class="photos" 
                  />    
                </div>
              </div>
              <div class="col-sm-12 col-md-6 text-left">
                <div>
                  <p class="para">
                    Ogni azienda ha alla sua base un'<strong>idea</strong>, ma per la sua realizzazione è necessaria la <strong>collaborazione</strong> di persone 
                    competenti e professionali: Smart Manager si preoccupa di costruire un ambiente virtuale che possa <strong>stimolare qualunque utente</strong>, garantendo 
                    efficienza, velocità e sicurezza. 
                  </p>
                </div>  
              </div>
            </div>
        </div>
      <%- include('../partials/frontFooter.ejs')  %> 
</body>
</html>