<%- include('../partials/headerFront.ejs') %>
<%- include('../partials/navbar.ejs') %>

<div class="wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="imageSolutions"></div>
        <div class="col-sm-12 mt-3 text-center">          
            <h2><strong class="titleSolutions">Quali soluzioni ti offriamo?</strong></h2><br>
        <p class="firstParaSolutions">
            Ecco una overview delle principali funzionalità che mettiamo a tua disposizione.
          </p>
          <hr class="firstHrSolutions" />
        </div>
      </div>
      </div>
      <div class="row" style="margin: 50px; font-size: 18px">
        <div class="col-sm-12 col-md-6">
          <div class="imageContainer">
            <img src='https://firebasestorage.googleapis.com/v0/b/auth-development-25432.appspot.com/o/Homepage.PNG?alt=media&token=0976cd88-5c38-4beb-98b7-d5336f5811d5' 
            alt=""
            class="photosSolutions"
            />  
          </div>
        </div>
        <div class="col-sm-12 col-md-6 text-left">
          <div>
            <p class="paraSolutions">
              Smart Manager dispone di <strong>un'area personale organizzata e sicura</strong> per la tua azienda.<br> Qui, puoi monitorare
              con la massima precisione le informazioni, le attività e la gestione dei progetti a cui i tuoi colleghi lavorano. 
              Inoltre, puoi registrare le candidature di nuovi dipendenti e interagire con le richieste di periodi di ferie. 
            </p>
          </div>
        </div>
      </div>
      <hr class="hrSolutions" />
      <div class="row" style="margin: 50px">
        <div class="col-sm-12 col-md-6">
          <div>
            <p class="para2Solutions">
              Visualizza in maniera <strong>rapida e chiara</strong> tutti i dipartimenti e tutti i membri di ciascun dipartimento: un'organizzazione
              attenta e precisa sta alla base del successo della tua azienda. 
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 text-center"> 
          <div class="imageContainer">
            <img src="https://firebasestorage.googleapis.com/v0/b/auth-development-25432.appspot.com/o/Dipart.PNG?alt=media&token=c8742135-576b-4197-952d-22a8cb6f651c" 
            alt=""
            class="photosSolutions" 
            />
          </div>
        </div>
      </div>
      <hr class="hrSolutions" />
      <div class="row" style="margin: 50px">
        <div class="col-sm-12 col-md-6">
          <div class="imageContainer">
            <img src="https://firebasestorage.googleapis.com/v0/b/auth-development-25432.appspot.com/o/dipen.PNG?alt=media&token=7e1c2b97-938a-4ca6-8df9-549e47fc95f7"
            alt=""
            class="photosSolutions" 
            />
          </div>
        </div>
        <div class="col-sm-12 col-md-6 text-left">
          <div>
            <p class="paraSolutions">
              Come Admin, puoi registare i tuoi dipendenti inserendo le loro informazioni. <br> A seguito della registrazione, sarà 
              possibile, per il nuovo utente, accedere alla sua area personale e <strong>cominciare ad interagire</strong> con te e i colleghi. 
            </p>
          </div>
        </div>
      </div>
      <hr class="hrSolutions" />
      <div class="row" style="margin: 50px">
        <div class="col-sm-12 col-md-6 text-right">
          <div>
            <p class="para2Solutions">
              Ogni dipendente sarà provvisto della propria area personale, nella quale potrà usufruire di <strong>tutte le funzionalità di Smart Manager</strong>.
              <br>
              Registrare presenze, consultare progetti, richiedere periodi di ferie e condividere i propri successi con i propri colleghi: ci occupiamo 
              di rendere tutto semplice e veloce per te, in modo che tu possa concentrarti su <strong>quello che conta</strong>. 
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 text-center"> 
          <div class="imageContainer">
            <img src="https://firebasestorage.googleapis.com/v0/b/auth-development-25432.appspot.com/o/utenteprova.PNG?alt=media&token=efbb7961-d55a-46a5-8afa-beea7a3fbb5b" 
            alt=""
            class="photosSolutions" 
            />
          </div>
        </div>
      </div>
    </div>

<%- include('../partials/frontFooter.ejs') %>  
</body>
</html>