<%- include('../partials/headerFront.ejs') %>
<%- include('../partials/navbar.ejs') %>

<div class="wrapper">
  <div class="row">
    <div class="col-sm-12">
      <div class="image-solutions"></div>
        <div class="col-sm-12 mt-3 text-center">          
          <h2>
            <strong class="title-solutions">
              Quali soluzioni ti offriamo?
            </strong>
          </h2>
          <br>
          <p class="first-para-solutions">
            Ecco una overview delle principali funzionalità che mettiamo a tua disposizione.
          </p>
          <hr class="first-hr-solutions" />
        </div>
    </div>
  </div>
  <div class="row" style="margin: 50px; font-size: 18px">
    <div class="col-sm-12 col-md-6">
      <div class="image-container">
        <img src='https://firebasestorage.googleapis.com/v0/b/auth-development-25432.appspot.com/o/SmartManager-home.jpg?alt=media&token=099b966a-32af-44fd-966d-ed3a59948f70' 
        alt=""
        class="photos-solutions"
        />  
      </div>
    </div>
    <div class="col-sm-12 col-md-6 text-left">
      <div>
        <p class="para-solutions">
          Smart Manager dispone di <strong>un'area personale organizzata e sicura</strong> per la tua azienda.<br> Qui, puoi monitorare
          con la massima precisione le informazioni, le attività e la gestione dei progetti a cui i tuoi colleghi lavorano. Qui puoi trovare una 
          comoda barra di navigazione laterale che ti permetterà di navigare velocemente attraverso tutte le possibilità che l'applicazione ti offre.
        </p>
      </div>
    </div>
  </div>
  <hr class="hr-solutions" />
  <div class="row" style="margin: 50px">
    <div class="col-sm-12 col-md-6">
      <div>
        <p class="para-solutions-2">
          Visualizza in maniera <strong>rapida e chiara</strong> tutti i dipartimenti e tutti i membri di ciascun dipartimento: un'organizzazione
          attenta e precisa sta alla base del successo della tua azienda. 
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 text-center"> 
      <div class="image-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/auth-development-25432.appspot.com/o/SmartManager-depart.jpg?alt=media&token=c519f3bb-7852-4e9c-9071-8718cc619622" 
        alt=""
        class="photos-solutions" 
        />
      </div>
    </div>
  </div>
  <hr class="hr-solutions" />
  <div class="row" style="margin: 50px">
    <div class="col-sm-12 col-md-6">
      <div class="image-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/auth-development-25432.appspot.com/o/SmartManager-newEmp.jpg?alt=media&token=c9a4a1ce-8084-49aa-b04e-a617caedf3cd"
        alt=""
        class="photos-solutions" 
        />
      </div>
    </div>
    <div class="col-sm-12 col-md-6 text-left">
      <div>
        <p class="para-solutions">
          Come Admin, puoi registare i tuoi dipendenti inserendo le loro informazioni. <br> A seguito della registrazione, sarà 
          possibile, per il nuovo utente, accedere alla sua area personale e <strong>cominciare ad interagire</strong> con te e i colleghi. 
        </p>
      </div>
    </div>
  </div>
  <hr class="hr-solutions" />
  <div class="row" style="margin: 50px">
    <div class="col-sm-12 col-md-6 text-right">
      <div>
        <p class="para-solutions-2">
          Ogni dipendente sarà provvisto della propria area personale, nella quale potrà usufruire di <strong>tutte le funzionalità di Smart Manager</strong>.
          <br>
          Essere sempre aggiornato e condividere i propri successi con i propri colleghi: ci occupiamo 
          di rendere tutto semplice e veloce per te, in modo che tu possa concentrarti su <strong>quello che conta</strong>. 
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 text-center"> 
      <div class="image-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/auth-development-25432.appspot.com/o/SmartManager-homeEmp.jpg?alt=media&token=15a8667a-2fa7-486f-a163-8d9fb48cdb74" 
        alt=""
        class="photos-solutions" 
        />
      </div>
    </div>
  </div>
</div>

<%- include('../partials/frontFooter.ejs') %>  
</body>
</html>