<%- include('../partials/headerFront.ejs') %>
<%- include('../partials/navbar.ejs') %> 
<div class="wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="imageWhyUs"></div>
        <div class="col-sm-12 mt-3 text-center">
            <h2><strong class="titleSolutions">Perché sceglierci?</strong></h2><br>
            <p class="firstParaSolutions">
            Scopri cosa Smart Manager garantisce a te e alla tua azienda.
          </p>
          <hr class="firstHr" />
        </div>
      </div>
      </div>
      <div class="row" style="margin: 50px">
        <div class="col-sm-12 col-md-6">
          <div class="imageContainer">
            <img src="https://cdn.pixabay.com/photo/2019/10/24/08/23/lock-4573711_960_720.png"
            alt=""
            class="photos" 
            />
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div>
            <p class="paraSolutions">
              Smart Manager crede nell'importanza della fiducia, per questo implementa un metodo di gestione delle
              credenziali e dei dati personali <strong>completamente sicuro ed affidabile</strong>, grazie alle 
              più aggiornate tecniche di <strong>crittografia.</strong>
            </p>
          </div>
        </div>
      </div>
      <hr class="hr" />
      <div class="row" style="margin: 50px">
        <div class="col-sm-12 col-md-6">
          <div>
            <p class="para2Solutions">
              Grazie al <strong>Role Based Access</strong> ed alla suddivisione delle aree personali fra admin e dipendente Smart
              Manager si propone di massimizzare la chiarezza e l'efficienza della cooperazione tra le entità aziendali.
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6"> 
          <div class="imageContainer">
            <img src="https://cdn.pixabay.com/photo/2018/05/01/15/06/user-3365840_640.png" 
            alt=""
            class="photos" 
            />
          </div>
        </div>
      </div>
      <hr class="hr" />
      <div class="row" style="margin: 50px">
        <div class="col-sm-12 col-md-6">
          <div class="imageContainer">
            <img src="https://developers.google.com/search/mobile-sites/imgs/mobile-seo/devices.png?hl=it"
            alt=""
            class="photos" 
            />
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div>
            <p class="paraSolutions">
              Scegliere Smart Manager significa avere la certezza di poter usufruire dei suoi servizi in qualsiasi momento
              e su qualsiasi device. Dai dispositivi mobile ai computer portatili, ti offriamo la massima <strong>versatilità.</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  <%- include('../partials/frontFooter.ejs') %> 
</body>
</html>