
<%- include('../../partials/headerAdmin.ejs') %> 
<%- include("../../partials/adminSidebar.ejs") %>

<div class="wrapper">
  <header class="header-general">
    <a href="#" class="header-general-link">
      Utente: <%= currentUser.username %>
    </a>
  </header>
  <div class="inner-wrapper">
    <section>
      <header>
        <h1>
          Creazione Dipartimento
        </h1>
      </header>
      <form action="/homeadmin/departments" method="POST">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="input-name">
              Nome
            </label>
            <input class="form-control" type="text" id="input-name" name="departmentName" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="input-image">Url Immagine</label>
            <input class="form-control" type="text" id="input-image" name="departmentImage" />
          </div>
        </div>
        <button type="submit" class="submit-button">Crea</button>
      </form>
    </section>
  </div>
</div>
</body>

</html>